html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  background: #262626;
  font-family: monospace;
  font-weight: 400;
  color: white;
  /* min-height: 100vh; */
}

main {
  max-width: 60ch;
  margin: auto;
  font-size: 1.5em;
  line-height: 1.5;
  padding: 2em;
}

.App{
  margin: 20px;
  /* min-height: 100vh; */
}